<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>Carculation</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="View and Export your Automatic Trips">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/bower_components/mapbox.js/mapbox.css">


    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link href="/build/css/divswap.css" rel="stylesheet">
</head>

<body>

    <!-- Side bar -->
    <div class="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">| Carculation</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/trips">Trips</a></li>
                <li><a href="/revenue">Revenue</a></li>
            </ul>
        </div>
        <!-- Side bar -->


        <!-- TABLES BEGIN -->

        <!-- page content -->
        <div class="row" role="main">
          <div class="col-md-8 col-md-offset-2">
            <h1>Home</h1>
            <br />
            <p>some shit will go here tomorrow</p>
            <div class="row">
              <div class="col-md-3">
                <div class="links row">
                  <div class="col-md-12">
                    <a class="btn btn-info"href="#snipOne">GET</a>
                  </div>
                  <div class="col-md-12">
                    <a class="btn btn-info"href="#snipTwo">POST</a>
                  </div>
                  <div class="col-md-12">
                    <a class="btn btn-info"href="#snipThree">somthing</a>
                  </div>
                  <div class="col-md-12">
                    <a class="btn btn-info"href="#snipFour">what</a>
                  </div>
                  <div class="col-md-12">
                    <a class="btn btn-info"href="#snipFive">huh</a>
                  </div>
                </div>
              </div>
              <div class="col-md-9 well">
                <div id="snipOne" class="panels">
                    Login Stuff
                </div>
                <div id="snipTwo" class="panels">
                    Registration Stuff
                </div>
                <div id="snipThree" class="panels">
                    slkdfja;ksdjf
                </div>
                <div id="snipFour" class="panels">
                    okokokok
                </div>
                <div id="snipFive" class="panels">
                    as;lkdfja;lskdjf;laksjdf
                </div>
              </div>
          </div>
        </div>
        <!-- Tables-->
    </div>


</body>

<script src="/bower_components/polyline/src/polyline.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="/bower_components/d3/d3.min.js"></script>
<script src="/javascripts/helper.js"></script>
<script src="/javascripts/data.js"></script>
<script src="/javascripts/main.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/vendors/Flot/jquery.flot.js"></script>
<script src="/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/vendors/Flot/jquery.flot.time.js"></script>
<script src="/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js"></script>
