<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>Carculation</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="View and Export your Automatic Trips">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/bower_components/mapbox.js/mapbox.css">


    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link href="/build/css/divswap.css" rel="stylesheet">
    <!-- code snippet style -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">

</head>

<body>

    <!-- Side bar -->
    <div class="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">| Carculation</a></li>
                <li><a href="/home"><i aria-hidden="true" class="fa fa-home"></i> Home</a></li>
                <li><a href="/trips"><i aria-hidden="true" class="fa fa-car"></i> Trips</a></li>
                <li><a href="/revenue"><i aria-hidden="true" class="fa fa-money"></i> Revenue</a></li>
                <li><a href="/audit"><i aria-hidden="true" class="fa fa-search"></i> Audit</a></li>
                <li><a href="/summary"><i aria-hidden="true" class="fa fa-file-text"></i> Summary</a></li>
            </ul>
        </div>
        <!-- Side bar -->


        <!-- TABLES BEGIN -->

        <!-- page content -->
        <div class="row" role="main">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="hackTitle">Carculation</h1>
            <br />
            <div class="row">
              <div class="col-md-8 col-md-offset-4">
                <img width="100%" src="images/carIcon.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 well mywell">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 well mywell">
                <ul>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
</ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-default" active>Node</a>
                  <a href="#" class="btn btn-default" disabled>Java</a>
                  <a href="#" class="btn btn-default" disabled>C#</a>
                </div>
              </div>
              <br />
              <br />
              <div class="col-md-3">
                <div class="links row">
                  <div class="col-md-12">
                    <a class="btn btn-success btn-block"href="#snipOne">CreateVault</a>
                  </div>
                  <div class="col-md-12">
                    <a  class="btn btn-success btn-block"href="#snipTwo">CreateCustomer</a>
                  </div>
                  <div class="col-md-12">
                    <a  class="btn btn-success btn-block"href="#snipThree">ChargeVault</a>
                  </div>
                  <div class="col-md-12">
                    <a  class="btn btn-success btn-block"href="#snipFour">SearchTrans</a>
                  </div>
                  <div class="col-md-12">
                    <a  class="btn btn-success btn-block"href="#snipFive">SearchTransByID</a>
                  </div>
                </div>
              </div>
              <div class="col-md-9 well mywell">
<div id="snipThree" class="panels">
<pre><code>api.post('/chargeVault/:amount', function(req, res) {
  var myJSONObject = {
    amount: req.params.amount,
    paymentVaultToken: {
    customerId: '5000006',
    paymentMethodId: '1',
    paymentType: 'CREDIT_CARD'
    },
    developerApplication: {
    developerId: 12345678,
    version: '1.2'
    }
  };
  request({
    url: "https://gwapi.demo.securenet.com/api/Payments/Charge",
    method: "POST",
    headers: {
      Authorization: auth,
      SecurenetID: '8008942'
      },
      json: true,
      body: myJSONObject
      },
      function(error, response, body) {
        res.send(response.body);
      });
    });</code></pre>
                </div>
<div id="snipOne" class="panels">
<pre><code>api.post('/createVaultAccount', function(req, res) {
  var myJSONObject = {
    customerId: 5000006,
    card: {
      number: '4444 3333 2222 1111',
      expirationDate: '10/2020',
      address: {
        line1: '123 Main St.',
        city: 'Austin',
        state: 'TX',
        zip: '78759'
      },
      firstname: 'Jack',
      lastname: 'Test'
    },
    phone: '512-250-7865',
    notes: 'Create a vault account',
    accountDuplicateCheckIndicator: 0,
    primary: true,
    userDefinedFields: [{
      udfname: 'udf1',
      udfvalue: 'udf1_value'
    },
    {
      udfname: 'udf2',
      udfvalue: 'udf2_value'
    },
    {
      udfname: 'udf3',
      udfvalue: 'udf3_value'
    },
    {
      udfname: 'udf4',
      udfvalue: 'udf4_value'
    },],
    developerApplication: {
      developerId: 12345678,
      version: '1.2'
    }
  };
  request({
    url: "https://gwapi.demo.securenet.com/api/Customers/5000006/PaymentMethod",
    method: "POST",
    headers: {
      Authorization: auth,
      SecurenetID: '8008942'
    },
    json: true,
    body: myJSONObject
    }, function(error, response, body) {
      res.send(response.body);
    });
  });</code></pre></div>
                <div id="snipTwo" class="panels">
                    slkdfja;ksdjf
                </div>
                <div id="snipFour" class="panels">
<pre><code>api.post('/searchTransactions', function(req, res) {
  var myJSONObject = {
    customerId: '5000006',
    startDate: '01/01/2017',
    endDate: '2/11/2017',
    developerApplication: {
      developerId: 12345678,
      version: '1.2'
      }
  };
  request({
    url: "https://gwapi.demo.securenet.com/api/transactions/Search",
    method: "POST",
    headers: {
      Authorization: auth,
      SecurenetID: '8008942'
    },
    json: true,
    body: myJSONObject
    }, function(error, response, body) {
      res.send(response.body);
    });
});</code></pre>
                </div>
                <div id="snipFive" class="panels">
<pre><code>api.get('/searchTransactionById/:transID', function(req, res) {
  request({
    url: "https://gwapi.demo.securenet.com/api/transactions/" + req.params.transID,
    method: "GET",
    headers: {
      Authorization: auth,
      SecurenetID: '8008942'
    },
    json: true
    }, function(error, response, body) {
      res.send(response.body);
    });
  });</code></pre>
                </div>
              </div>
          </div>
        </div>
        <!-- Tables-->
    </div>


</body>

<script src="/bower_components/polyline/src/polyline.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="/bower_components/d3/d3.min.js"></script>
<script src="/javascripts/helper.js"></script>
<script src="/javascripts/data.js"></script>
<script src="/javascripts/main.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/vendors/Flot/jquery.flot.js"></script>
<script src="/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/vendors/Flot/jquery.flot.time.js"></script>
<script src="/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- code snippet style-->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js"></script>
