extends layout

block content
  .wrapper.content
    #alert.alert
    #summary

      h2.pageTitle Summary
      #refresh.btn.btn-default <i class="glyphicon glyphicon-refresh"></i> Refresh
      .row
        .col-sm-12
          #graphs.panel.panel-default
            .panel-heading Weekly Driving
            .panel-body
              .btn-group.display-type
                a.btn.btn-default.active(type="button" data-type="snippetOne") Snippet One
                a.btn.btn-default(type="button" data-type="snippetTwo") Snippet Two
                a.btn.btn-default(type="button" data-type="snippetThree") Snippet Three
                a.btn.btn-default(type="button" data-type="snippetFour") Snippet Four
                a.btn.btn-default(type="button" data-type="snippetFive") Snippet Five

              .snip

  .loading Loading...

block scripts
  script(type='text/template' id='snippetOne')
    .well
      p
        code snippet ONE goes here

  script(type='text/template' id='snippetTwo')
    .well
      p
        code snippet Two goes here

  script(type='text/template' id='snippetThree')
    .well
      p
        code snippet Three goes here

  script(type='text/template' id='snippetFour')
    .well
      p
        code snippet FOUR goes here

  script(type='text/template' id='snippetFive')
    .well
      p
        code snippet FIVE goes here


  script(src="/javascripts/summary.js")
